.admin-active-button {
    border: none;
    border-radius: 30px 30px 0px 0px;
    border-bottom: solid 5px #F8D667 ;
    background-color: white;
}

.admin-inactive-button {
    border: none;
    border-radius: 30px 30px 0px 0px;
    border-bottom: solid 5px white;
    background-color: white;
}

.admin-inactive-button:hover {
    border: none;
    border-radius: 30px 30px 0px 0px;
    border-bottom: solid 5px #FCF0C9;
    background-color: white;
}

.admin-container {
    min-height: 90vh;
}

.table-container {
    max-width: 80vw;
    max-height: 70vh;
}

.btn-icon {
    color: white;
}

.btn-icon:hover {
    color: black;
    border-color: black;
}

.yellow-item {
    color: #F8D667;
}

.blue-item {
    color: #6492C1;
}

